main{
    padding-top: 20px;
    /* background-color: #DC143C;
    color: #FFFFFF; */
    background: rgb(220,20,60);
background: radial-gradient(circle, rgba(220,20,60,1) 0%, rgba(49,49,51,1) 50%, rgba(33,33,33,1) 100%);
}

.fondo{
    background-color: #313133;
}

.contenedor{
    overflow: hidden;
}

.card img{
    transition: opacity 0.3s ease;
    
}

.card:hover img{
    opacity: 0.6;
    scale: 1.5;
}